<div class="container">
    <div class=" col-12 py-3 px-3">
        <div class="d-flex w-100 text-center">
            <div class="m-auto col-10">
                <h2 class="text-capitalize">
                    Inventory
                </h2>
            </div>
            <div >
                <button class="btn btn-primary my-auto me-auto" routerLink="/AddInventory">
                    Add
                </button>
            </div>
        </div>
    </div>
    <div>
        <div *ngFor="let product of productList">
            <div class="card text-white bg-dark my-3 p-2">
                <div class="d-flex align-items-center">
                    <div class="card-body">
                        <p class="mb-0">{{product.productName}}</p>
                    </div>
                    <div class="my-auto me-auto pe-3">
                        <button (click)="View(mData)" class="btn btn-primary mx-2 my-auto me-auto">
                            View
                        </button>
                        <button  (click)="Edit(product)" class="btn btn-primary mx-2 my-auto me-auto">
                            Edit 
                        </button>
                        <!-- <app-update-inventory-form routerLink="/UpdateInventoryForm" 
                            class="btn btn-primary mx-2 my-auto me-auto" UpdateProduct={{product}}>Edit</app-update-inventory-form> -->
                        
                        <button (click)="Delete(deleteData, product)" class="btn btn-primary mx-2 my-auto me-auto">
                            Delete
                        </button>
                    </div>
                </div>
        
            </div>

            <!-- view modal -->
            <ng-template #mData let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title"><div [id]="product.id">ID: {{product.id}}</div></h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                      <p>ProductCode {{product.productCode}}</p>
                      <p>Name: {{product.productName}}</p>
                      <p>Price: {{product.productPrice}}</p>
                      <p>Description: {{product.productDesc}}</p>
                      <p>CreatedDate: {{product.createdDate}}</p>
                </div>
              </ng-template>
            
              <!-- delete modal -->
            <ng-template #deleteData let-modal>
                <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Delete {{product.productCode}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                </button>
                
                </div>
                <div class="modal-body">
                <p><strong>Are you sure you want to delete <span class="text-primary">{{product.productName}}</span></strong></p>
                <p>{{product.id}}</p>
                <p>All data related to {{product.productName}} will be removed permanently.
                </p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="modal.close('Delete')">Delete</button>
                <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Cancel</button>
                </div>
            </ng-template>

           

        </div>
    </div>
</div>

