<div class="container home">
    <div class="row">
        
        <div class="card text-white bg-dark mb-3">
        
            <div class="card-body  homebtn" [routerLink]="['Members']">
                <p class="homebtn">Members</p>
            </div>

        </div>

        <div class="card text-white bg-dark mb-3" >
            
            <div class="card-body  homebtn" [routerLink]="['Inventory']">
                <p class="homebtn">Inventory</p>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3"> 
            <div class="card-body  homebtn" [routerLink]="['Sales']">
                <p class="homebtn">Sale</p>
            </div>
        </div>

    </div>
</div>
