<form (ngSubmit)="createMember()" [formGroup]="form">
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">First name</label>
                <input placeholder="" class="form-control" formControlName="firstName" type="text"
                    [ngClass]="{'is-invalid': !firstName?.valid && (firstName?.dirty || firstName?.touched || submitted) }" />
                <small *ngIf="!firstName?.valid && (firstName?.dirty || submitted)"
                    class="text-danger validation-error-message">First name is required</small>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input placeholder="" class="form-control" formControlName="lastName" type="text"
                    [ngClass]="{ 'is-invalid': !lastName?.valid && (lastName?.dirty || lastName?.touched || submitted) }" />
                <small *ngIf="!lastName?.valid && (lastName?.dirty || submitted)"
                    class="text-danger validation-error-message">Last Name
                    is required</small>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Email</label>
                <input placeholder="" class="form-control" formControlName="email" type="email"
                    placeholder="example@example.com"
                    [ngClass]="{ 'is-invalid': !email?.valid && (email?.dirty || email?.touched || submitted) }" />
                <small *ngIf="!email?.valid && (email?.dirty || submitted)"
                    class="text-danger validation-error-message">Email
                    is required</small>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Phone</label>
                <input placeholder="" class="form-control" formControlName="phone" type="tel"
                    [ngClass]="{ 'is-invalid': !phone?.valid && (phone?.dirty || phone?.touched || submitted) }" />
                <small *ngIf="!phone?.valid && (phone?.dirty || submitted)"
                    class="text-danger validation-error-message">Phone
                    is required</small>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Address First Line</label>
                <input placeholder="" class="form-control" formControlName="addressFirstLine" type="text"
                    [ngClass]="{ 'is-invalid': !addressFirstLine?.valid && (addressFirstLine?.dirty || addressFirstLine?.touched || submitted) }" />
                <small *ngIf="!addressFirstLine?.valid && (addressFirstLine?.dirty || submitted)"
                    class="text-danger validation-error-message">Address
                    is required</small>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Address Second Line</label>
                <input placeholder="" class="form-control" formControlName="addressSecondLine" type="text"
                    [ngClass]="{ 'is-invalid': !addressSecondLine?.valid && (addressSecondLine?.dirty || addressSecondLine?.touched || submitted) }" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Address Suburb</label>
                <input placeholder="" class="form-control" formControlName="addressSuburb" type="text"
                    [ngClass]="{ 'is-invalid': !addressSuburb?.valid && (addressSuburb?.dirty || addressSuburb?.touched || submitted) }" />
                <small *ngIf="!addressSuburb?.valid && (addressSuburb?.dirty || submitted)"
                    class="text-danger validation-error-message">Suburb
                    is required</small>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Address State</label>
                <input placeholder="" class="form-control" formControlName="addressState" type="text"
                    [ngClass]="{ 'is-invalid': !addressState?.valid && (addressState?.dirty || addressState?.touched || submitted) }" />
                <small *ngIf="!addressState?.valid && (addressState?.dirty || submitted)"
                    class="text-danger validation-error-message">State
                    is required</small>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Address Postcode</label>
                <input placeholder="" class="form-control" formControlName="addressPostcode" type="text"
                    [ngClass]="{ 'is-invalid': !addressPostcode?.valid && (addressPostcode?.dirty || addressPostcode?.touched || submitted) }" />
                <small *ngIf="!addressPostcode?.valid && (addressPostcode?.dirty || submitted)"
                    class="text-danger validation-error-message">Postcode
                    is required</small>
            </div>
        </div>
    </div>
    <div class="col-12">
        <button [disabled]="!form.valid" type="submit" class="btn btn-dark mt-4 w-100">
            Submit
        </button>
        <button (click)="goBack()" class="btn btn-dark mt-4 w-100">
            Cancel
        </button>
    </div>


    <ng-container *ngIf="isError">
        <div class="alert alert-danger my-3" role="alert">
            {{ errMsg }}
        </div>
    </ng-container>
</form>