<form *ngIf="loaded" (ngSubmit)="createTransaction()" [formGroup]="form">
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Customer</label>
                <select class="form-control" formControlName="customerNumber" id="customerNumber">
                    <option value="" disabled selected>
                        Please select customer
                    </option>
                    <option *ngFor="let member of memberList; let i = index" [value]="memberList[i].customerNumber">
                        {{memberList[i].firstName}} {{memberList[i].lastName}}
                    </option>
                </select>
                <small *ngIf="!customerNumber?.valid && (customerNumber?.dirty || submitted)"
                    class="text-danger validation-error-message">Customer Number is required</small>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Product</label>
                <select name="productCode" class="form-control" formControlName="productCode" id="productCode">
                    <option value="" disabled selected>
                        Please select product
                    </option>
                    <option *ngFor="let product of productList; let i = index" [value]="productList[i].productCode">
                        {{productList[i].productName}}
                    </option>
                </select>
                <small *ngIf="!productCode?.valid && (productCode?.dirty || submitted)"
                    class="text-danger validation-error-message">Product Code
                    is required</small>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">Transaction Date</label>
                <input placeholder="" class="form-control" formControlName="transactionDate" type="date"
                    placeholder="DD/MM/YY"
                    [ngClass]="{ 'is-invalid': !transactionDate?.valid && (transactionDate?.dirty || transactionDate?.touched || submitted) }" />
                <small *ngIf="!transactionDate?.valid && (transactionDate?.dirty || submitted)"
                    class="text-danger validation-error-message">Product Code
                    is required</small>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">price</label>
                <input placeholder="" class="form-control" formControlName="price" type="number"
                    [ngClass]="{ 'is-invalid': !price?.valid && (price?.dirty || price?.touched || submitted) }" />
                <small *ngIf="!price?.valid && (price?.dirty || submitted)"
                    class="text-danger validation-error-message">Product Code
                    is required</small>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-group">
                <label class="control-label">orderID</label>
                <input placeholder="" class="form-control" formControlName="orderID" type="number"
                    [ngClass]="{ 'is-invalid': !orderID?.valid && (orderID?.dirty || orderID?.touched || submitted) }" />
                <small *ngIf="!orderID?.valid && (orderID?.dirty || submitted)"
                    class="text-danger validation-error-message">orderID
                    is required</small>
            </div>
        </div>
    </div>

    <div class="col-12">
        <button [disabled]="!form.valid" type="submit" class="btn btn-dark mt-4 w-100">
            Submit
        </button>
        <button (click)="goBack()" class="btn btn-dark mt-4 w-100">
            Cancel
        </button>
    </div>


    <ng-container *ngIf="isError">
        <div class="alert alert-danger my-3" role="alert">
            {{ errMsg }}
        </div>
    </ng-container>
</form>